.home-container {
  /* background-color: #0f0f0f; dark background */
  color: white;
  height: auto;
  width: 100%;
}

/* Animations Intro Section */
.animations-intro-section {
  padding: 30px 20px;
  text-align: center;
  color: white;
}

.animations-intro-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: white;
  /* margin-top: -20px; */
}

.animations-intro-subtitle {
  font-size: 1.2rem;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.6;
  color: white;
}

.bubbles img {
  width: 50px;
  /* height: 50px; */
  animation: bubble 12s linear infinite;
}

.bubbles {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: -70px;
}

@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  50% {
    /* transform: translateY(0); */
    opacity: 1;
  }

  70% {
    /* transform: translateY(0); */
    opacity: 1;
  }

  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}

.bubbles img:nth-child(1) {
  animation-delay: 2s;
  width: 25px;
  height: 25px;
}

.bubbles img:nth-child(2) {
  animation-delay: 1s;
}

.bubbles img:nth-child(3) {
  animation-delay: 3s;
  width: 25px;
  height: 25px;
}

.bubbles img:nth-child(4) {
  animation-delay: 4.5s;
}

.bubbles img:nth-child(5) {
  animation-delay: 5s;
  width: 36px;
  height: 36px;
}

.bubbles img:nth-child(6) {
  animation-delay: 3s;
}

.bubbles img:nth-child(7) {
  animation-delay: 6s;
  width: 30px;
  height: 30px;
}

@media (max-width: 1024px) {
  .animations-intro-section {
    padding: 50px 30px;
  }

  .animations-intro-title {
    font-size: 2.3rem;
  }

  .animations-intro-subtitle {
    font-size: 1.1rem;
    max-width: 600px;
  }
}

/* Mobile (<=768px) */
@media (max-width: 768px) {
  .animations-intro-section {
    padding: 40px 20px;
  }

  .animations-intro-title {
    font-size: 2rem;
  }

  .animations-intro-subtitle {
    font-size: 1rem;
    line-height: 1.5;
  }
}

/* Small Mobile (<=480px) */
@media (max-width: 480px) {
  .animations-intro-section {
    padding: 0px 15px;
    margin-bottom: 10px;
  }

  .animations-intro-title {
    font-size: 2.5rem;
    margin-top: 0px;
    
  }

  .animations-intro-subtitle {
    font-size: 0.95rem;
    max-width: 90%;
  }
}