.header {
    background-color: rgba(249, 247, 247, 0.1);
    padding: 16px 35px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    width: 85%;
    margin: 10px auto 0px auto;
    border-radius: 50px;
    position: sticky;
    top: 10px;
    z-index: 999999;
}

.header .logo h2 {
    /* background-image: url("src/assets/bubble.png"); */
    color: black;
}

.nav {
    display: flex;
    gap: 40px;
    justify-content: space-around;
}

.nav-link {
    color: black;
    font-weight: 600;
    text-decoration: none;
    font-size: 18px;
    padding: 6px 12px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    border: none;
}

.nav-link:nth-child(6) {
    background: black;
    color: white;
    border-radius: 20px;
    padding: 4px 20px;
}

.active {
    background: rgba(155, 154, 154, 0.3);
    border-radius: 16px;

}

.gallery-btn {
    background: none;
    border: none;
    cursor: pointer;
}


@media (max-width: 1024px) {
    .nav {
        gap: 40px;
    }
}


@media (max-width: 768px) {
    .header {
        padding: 10px 25px;
        border-radius: 20px;
    }


    .nav {
        position: fixed;
        top: 80px;
        right: 20px;
        background: rgba(20, 20, 30, 0.95);
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 25px;
        border-radius: 12px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
        transform: translateY(-20px);
        opacity: 0;
        pointer-events: none;
    }


    .nav.open {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }

    .nav-link {
        font-size: 16px;
        width: 100%;
    }


    .menu-toggle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 28px;
        height: 22px;
        cursor: pointer;
        z-index: 1000;

    }

    .menu-toggle span {
        display: block;
        height: 5px;
        width: 100%;
        background-color: black;
        border-radius: 3px;
        transition: all 0.3s ease;
    }

    .menu-toggle.open span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 6px);
        background-color: black;
    }

    .menu-toggle.open span:nth-child(2) {
        opacity: 0;
        background-color: black;
    }

    .menu-toggle.open span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
        background-color: black;
    }
}

@media (max-width: 400px) {
    .header {
        width: 95%;
        padding: 8px 18px;
        border-radius: 50px;
        position: sticky;
        top: 10px;
        margin: auto;
    }

    .logo {
        font-size: 1rem;
    }

    .nav {
        right: 10px;
        width: 95%;
        padding: 20px;
        position: absolute;
        top: 110px;
    }

    .nav-link {
        font-size: 15px;
        text-align: center;
        letter-spacing: 1px;
    }
    .menu-toggle span {
        background-color: black;
        margin-top: 0px;
    }

    .nav.open {
        margin-top: -50px;
    }

    .nav-link:nth-child(6){
        padding: 8px;
    }
}

/* header {
    background-color: white;
    width: 75%;
    margin: auto;
    border-radius: 50px;
    
    margin-top: 16px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 16px 18px;
}

.logo {
    color: black;
    text-align: center;
    align-self: center;
    font-weight: 700;
    cursor: pointer;
}

.header-nav-link {
    background: black;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
} */