.header {
  background-color: rgba(211, 208, 208, 0.1);
  padding: 0px 50px;
  box-shadow: 5px 5px 8px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 90%;
  margin: 16px auto 0px auto;
  border-radius: 50px;
  position: sticky;
  top: 16px;
  z-index: 999999;
}

.logo {
  /* background-image: url("src/assets/bubble.png"); */
  color: white;
}

.nav {
  display: flex;
  gap: 100px;
  justify-content: space-around;
}

.nav-link {
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  border: none;
}

.nav-link:hover {
  /* background-color: white; */
}

.active {
  /* background-color: rgba(245, 245, 245, 0.5); */
}

/* ✅ Optional: if button styled same as nav links */
.gallery-btn {
  background: none;
  border: none;
  cursor: pointer;
}
